<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.thapp670455" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>吐槽热</name>
  <description>
  吐槽，搞笑，流行
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
  steven wang
  </author>
  <icon src="icon.png" />
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
